/libusb-custom/Makefile
/libusb-custom/config.h
/libusb-custom/config.log
/libusb-custom/config.status
/libusb-custom/doc/Makefile
/libusb-custom/doc/doxygen.cfg
/libusb-custom/examples/.deps/dpfp.Po
/libusb-custom/examples/.deps/dpfp_threaded-dpfp_threaded.Po
/libusb-custom/examples/.deps/fxload-ezusb.Po
/libusb-custom/examples/.deps/fxload-fxload.Po
/libusb-custom/examples/.deps/hotplugtest.Po
/libusb-custom/examples/.deps/listdevs.Po
/libusb-custom/examples/.deps/sam3u_benchmark.Po
/libusb-custom/examples/.deps/xusb.Po
/libusb-custom/examples/Makefile
/libusb-custom/libtool
/libusb-custom/libusb-1.0.pc
/libusb-custom/libusb/.deps/libusb_1_0_la-core.Plo
/libusb-custom/libusb/.deps/libusb_1_0_la-descriptor.Plo
/libusb-custom/libusb/.deps/libusb_1_0_la-hotplug.Plo
/libusb-custom/libusb/.deps/libusb_1_0_la-io.Plo
/libusb-custom/libusb/.deps/libusb_1_0_la-strerror.Plo
/libusb-custom/libusb/.deps/libusb_1_0_la-sync.Plo
/libusb-custom/libusb/.libs/libusb-1.0.a
/libusb-custom/libusb/.libs/libusb-1.0.la
/libusb-custom/libusb/.libs/libusb-1.0.lai
/libusb-custom/libusb/.libs/libusb-1.0.so
/libusb-custom/libusb/.libs/libusb-1.0.so.0
/libusb-custom/libusb/.libs/libusb-1.0.so.0.1.0
/libusb-custom/libusb/Makefile
/libusb-custom/libusb/libusb-1.0.la
/libusb-custom/libusb/libusb_1_0_la-core.lo
/libusb-custom/libusb/libusb_1_0_la-descriptor.lo
/libusb-custom/libusb/libusb_1_0_la-hotplug.lo
/libusb-custom/libusb/libusb_1_0_la-io.lo
/libusb-custom/libusb/libusb_1_0_la-strerror.lo
/libusb-custom/libusb/libusb_1_0_la-sync.lo
/libusb-custom/libusb/os/.deps/.dirstamp
/libusb-custom/libusb/os/.deps/libusb_1_0_la-darwin_usb.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-linux_netlink.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-linux_udev.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-linux_usbfs.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-netbsd_usb.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-openbsd_usb.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-poll_posix.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-poll_windows.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-threads_posix.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-threads_windows.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-windows_usb.Plo
/libusb-custom/libusb/os/.dirstamp
/libusb-custom/libusb/os/libusb_1_0_la-linux_udev.lo
/libusb-custom/libusb/os/libusb_1_0_la-linux_usbfs.lo
/libusb-custom/libusb/os/libusb_1_0_la-poll_posix.lo
/libusb-custom/libusb/os/libusb_1_0_la-threads_posix.lo
/libusb-custom/stamp-h1
/libusb-custom/tests/.deps/stress.Po
/libusb-custom/tests/.deps/testlib.Po
/libusb-custom/tests/Makefile
gtkImager
gtk3Imager
build*
*.o
.kateproject.d
*.swp

