/libusb-custom/tests/.deps/stress.Po
/libusb-custom/tests/.deps/testlib.Po
/libusb-custom/libusb/os/.deps/.dirstamp
/libusb-custom/libusb/os/.deps/libusb_1_0_la-darwin_usb.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-linux_netlink.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-linux_udev.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-linux_usbfs.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-netbsd_usb.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-openbsd_usb.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-poll_posix.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-poll_windows.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-threads_posix.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-threads_windows.Plo
/libusb-custom/libusb/os/.deps/libusb_1_0_la-windows_usb.Plo
/libusb-custom/libusb/os/.dirstamp
/libusb-custom/libusb/.deps/libusb_1_0_la-core.Plo
/libusb-custom/libusb/.deps/libusb_1_0_la-descriptor.Plo
/libusb-custom/libusb/.deps/libusb_1_0_la-hotplug.Plo
/libusb-custom/libusb/.deps/libusb_1_0_la-io.Plo
/libusb-custom/libusb/.deps/libusb_1_0_la-strerror.Plo
/libusb-custom/libusb/.deps/libusb_1_0_la-sync.Plo
/libusb-custom/libusb/.libs/libusb-1.0.a
/libusb-custom/libusb/.libs/libusb-1.0.la
/libusb-custom/libusb/.libs/libusb-1.0.lai
/libusb-custom/libusb/.libs/libusb-1.0.so
/libusb-custom/libusb/.libs/libusb-1.0.so.0
/libusb-custom/libusb/.libs/libusb-1.0.so.0.1.0
gtkImager
gtk3Imager
*.o
